<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /POOIV-TP5-CodeIgniter/CodeIgniter/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /POOIV-TP5-CodeIgniter/CodeIgniter/index.php?/$1 [L] 
</IfModule>